* { 
    margin: 0px;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
header {
    background-color: white;
    border-bottom: 2px gray solid;
    margin-bottom: 25px;
}

h1 {
    font-size: large;
    color: white;
    text-align: center;
    background-color: gray;
}

aside nav {
    float: right;
    font-size: small;
    color: gray;
    margin-right: 5px;
}

img {
    float: left;
    margin-top: 10px;
}


h2 {
    border-bottom: 2px gray solid;
    font-size: large;
    background-color: white;
}
footer {
    background-color: gray;
    border-top: 3px plum solid;
    height: 30px;
    font-size: small;
    text-align: center;
    padding: auto;
    color: white; 
    margin: 40px;
 }

main .boxed {
        width: 320px;
        background-color: white;
}

main p {
        text-emphasis-color: black;
        background-color: white;
        margin: 0; 
        padding: 10px;
        text-align: left;
}
main aside {
    float: right;
}
p {
    overflow-wrap: break-word;
    margin-top: 10px;
    box-sizing: border-box;
    text-indent: 10px;
    font-size: small;
    padding-left: 10px;
    
}

header, nav, main, footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}